<!doctype html>

<html lang="en" style="margin: 0; height: 100%;">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-reboot.css" rel="stylesheet" type="text/css"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css"/>
        <link href="css/responsive.css" rel="stylesheet" type="text/css"/>
        <title>Brad Woodlief | {% block subtitle %}{% endblock subtitle %}</title>
    {% endblock head %}
</head>

<body style="
        margin: 0;
        height: 100%;
        background-image: url('{% block backgroundUrl %}{% endblock backgroundUrl %}');
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: top;">
<!--
  <div id="feedback" class="success">
    <h3>Success!</h3>
    <p>You're reading all about Emerson.</p>
  </div>
-->
<div id="whiteFilter">
    <div id="header" style="width: 100%" class="sticky-top">
        <header class="text-center text-gray-dark" style="margin:0">
            {% block header %}
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="p-1 mx-auto">
                            <div class="row nav-tabs" style="border-bottom: 0px">{#<ul class="navbar navbar-inverse">#}
                                <div class="col">
                                    {% if welcome_selected %} <a class="nav-link text-gray-dark"
                                                                 href="{{ siteUrl('/') }}"><strong>Home</strong></a>
                                    {% else %} <a class="nav-link text-gray-dark"
                                                  href="{{ siteUrl('/welcome') }}"><strong>Welcome</strong></a>{% endif %}
                                </div>
                                <div class="col">
                                    {% if links_selected %} <a class="nav-link text-gray-dark"
                                                               href="{{ siteUrl('/') }}"><strong>Home</strong></a>
                                    {% else %} <a class="nav-link text-gray-dark"
                                                  href="{{ siteUrl('/links') }}"><strong>Links</strong></a>{% endif %}
                                </div>
                                <div class="w-100 hidden-sm-up"></div>
                                <div class="col">
                                    {% if donations_selected %} <a class="nav-link text-white"
                                                                   href="{{ siteUrl('/') }}"><strong>Home</strong></a>
                                    {% else %} <a class="nav-link text-gray-dark"
                                                  href="{{ siteUrl('/donations') }}"><strong>Donations</strong></a>{% endif %}
                                </div>
                                <div class="col">
                                    {% if contact_selected %} <a class="nav-link text-gray-dark"
                                                                 href="{{ siteUrl('/') }}"><strong>Home</strong></a>
                                    {% else %} <a class="nav-link text-gray-dark"
                                                  href="{{ siteUrl('/contact') }}"><strong>Contact</strong></a>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar-light container text-gray-dark">
                        <button id="navbutton" class="navbar-toggler container" type="button" data-toggle="collapse"
                                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                                aria-expanded="false" aria-label="Toggle navigation">

                            <h1 class="display-4">
                                {% if welcome_selected %}Welcome
                                {% elseif links_selected %}Links
                                {% elseif donations_selected %}Donations
                                {% elseif contact_selected %}Contact
                                {% endif %}
                            </h1>

                        </button>
                    </nav>
                </div>
                {#        <div class="pos-f-t">
                        <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-inverse p-4">
                            <a href="{{baseUrl()}}">
                                <h1 class="display-4 p-2 text-lg-left text-center">Brad Woodlief</h1>
                            </a>
                            <ul class="navbar navbar-inverse bg-inverse">
                                <li class="nav-item">
                                    <a {% if welcome_selected %}class="nav-link text-muted"{% else %}class="nav-link text-white"{% endif %} href="{{ siteUrl('/welcome')}}">Welcome</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if links_selected %}class="nav-link active"{% else %}class="nav-link text-white"{% endif %} href="{{ siteUrl('/links')}}">Links</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if donations_selected %}class="nav-link active"{% else %}class="nav-link text-white"{% endif %} href="{{ siteUrl('/donations')}}">Donations</a>
                                </li>
                                <li class="nav-item">
                                    <a {% if contact_selected %}class="nav-link active"{% else %}class="nav-link text-white"{% endif %} href="{{ siteUrl('/contact')}}">Contact</a>
                                </li>
                            </ul>

                        </div>
                        </div>
                        </div>#}
            {% endblock header %}
        </header>
    </div>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% block footer %}
        <div class="container text-gray-dark fixed-bottom fixed-center">
            <footer style="text-align:right">

                <span>© 2017 Brad Woodlief</span>

            </footer>
        </div>
    {% endblock footer %}

</div>
</body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.js"></script>
<script src="">{{ siteUrl }}js / jquery.smoothState.js</script>
<script type="text/javascript">
    $(function () {
        $('#main').smoothState();
    });
    $(window).on('scroll', function () {

        if ($(window).scrollTop() > 1) {
            $('#header').addClass("scrolledBG");
        } else {
            $('#header').removeClass("scrolledBG");
        }
    });
</script>
{% block scripts %}

{% endblock %}
</html>

